.container{
    border: 1px solid rgb(196, 193, 193);
    border-radius: 5px;
}
.card-header{
    border: 1px solid #1a1b2f;
    background-color: #1a1b2f;
    color: white;
}
h2{
    margin-left: 5%;
}
form{
    margin-top: 1%;
    display: flex;
    height: 40px;
    margin-left: 5%;
}
.form-control{
    height: 35px;
    width: 250px;
}
.btn{
    height: 35px;
    width: 70px;
    background-color: #109790;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
input{
    font-size: 17px;
}