<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Github User Search</h2>
                </div>
                <div class="card-body">
                    <form (submit)="searchUser()">
                        <div class="form-group">
                            <input [(ngModel)]="githubUserQuery" name="user" type="search" class="form-control" placeholder="Github username">
                        </div>
                        <div>
                            <input class="btn" type="submit" value="Search" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
    <app-github-profile [githubProfile]="githubProfile"></app-github-profile>
    </div>
</div>
<div class="row">
    <div class="col">
    <app-github-repos [githubRepos]="githubRepos"></app-github-repos>
    </div>
</div>